@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600);

*{
	margin: 0;
	border: 0;
	padding: 0;
}

body{

	background-color: #141414;
}

#header{
	z-index: 1;
	position: relative;
	width: 100%;
	background-color: #444444;
	box-shadow: 0em 0em 1em 0em #000000;
}

#header > a > img{
	position: relative;
	left: 53.95%;
	height: 15em;
	width: auto;
	border-bottom-right-radius: 1em;
	cursor: pointer;
}

#nav{
	background-color: #6B6B6B;
}

#nav > ul{
	text-decoration: none;
	text-align: center;
}

#nav > ul > li, #nav > ul > a > li{
	display: inline-block;
	height: 2em;
	line-height: 2;	

	padding-left: 3%;
	padding-right: 3%;

	border-left: 2px;
	border-radius: 0em;
	border-color: #EFEFEF;
	border-style: solid;
	
	cursor: pointer;
	
	margin-left: -.15em;

	color: #EFEFEF;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20pt;

	-webkit-transition: background-color .4s;
	-moz-transition: background-color .4s;
	-o-transition: background-color .4s;
	 transition: background-color .4s;
}

#nav > ul > li.end, #nav > ul > a > li.end{
	border-right: 2px solid #EFEFEF;
}

#nav > ul > li.blue:hover, #nav > ul > a > li.blue:hover{
	background-color: rgba(0,79,255,0.65);
}

#body{

	z-index: 0;
	position: relative;
	width: 50%;
	min-height: 30em;
	margin-left: 15%;
	margin-right: 15%;
	padding: 5% 10%;
	background-color: #343434;
	box-shadow: 0em 0em 1em 0em rgba(0,0,0,0.5);
}

h1, h2, p{
	font-family: 'Titillium Web', sans-serif;
	color: #E3E3E3;
}

h1{
	font-size: 40pt;
}

p{
	font-size: 20pt;
}

h2{
	font-size: 30pt;
}

#body > a{
	text-align: center;
}

a{
	text-decoration: none;
}

#body > table tr > th, #body > table tr > td{
	width: 50%;
	text-decoration: none;
}

#body > table div.button{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	width: 75%;
	font-size: 20pt;
	color: #E3E3E3;
	background-color: #05F;
	padding: 1% 5%;
	border: 1px solid #E3E3E3;
	margin: 1em;

	box-shadow: 0em 0em .25em 0em #000000;
}

#body ul > li > a > div.button:hover{
	background-color: #36F;
}

#body > #desktop div.location_w{
	margin-left: 1.5em;
	width: 100%;
	height: 20em;
	background-color: #E3E3E3;
}

#body > #mobile > p, #body > #mobile > h1, #body > #mobile > h2{
	margin-left: 5%;
	margin-right: 5%;
}

#body p > a{
	color: #49F;
}

#body p > a:hover{
	color: #6BF;
	text-decoration: underline;
}

#body > #mobile > div.location_w{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 0em;
}

#footer{
	display:inline-block;
	z-index: 2;
	position: relative;
	height: 10em;
	width: 70%;
	padding: 0% 15%;
	background-color: #E3E3E3;

	box-shadow: 0em 0em 1em 0em #000;
}

#footer p{
	font-family: 'Titillium Web' , sans-serif;
	font-size: 12pt;

	color: #141414;
}

#advancebadge{
	display:inline-block;
	height: 8em;
	width: 8em;
	background-image: url("advancebadge.png");
	background-size: 8em auto;
	margin: 1em;
	margin-bottom: 0em;
	border: solid .2em black;
	border-radius: 1em;
}

#sitemap{
	display: block; 
	position: absolute; 
	top: 1em; 
	left: 40%; 
	height: 8em;
	border-left: .1em;
	border-style: solid;
	border-color: black;
}

#sitemap > ul{
	text-decoration: none;
}

#sitemap > ul > li{
	display: block;
}

#sitemap > ul > li > a{
	font-family: 'Titillium Web', sans-serif;
	color: #141414;
	margin: 0em 1em;
	font-size: 12pt;

	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	 transition: color .4s;
}

#sitemap > ul > li > a:hover{
	text-decoration: underline;
}

#desktop{
	visibility: visible;
}

#mobile{
	visibility: hidden;
	position: absolute;
	top: 1em;
}

@media (max-device-width: 1474px){
	#sitemap{
		left: 45%; 
	}
}

@media (max-device-width: 1235px){
	#sitemap{
		left: 50%;
	}
}

@media (max-device-width: 1060px){
	#sitemap{
		left: 60%;
	}

	#body > table div.button{
		width: 100%;
	}
		#body{
		width: 100%;
		height: 77em;
		margin: 0;
		padding: .1em 0;
	}

	#desktop{
		visibility: hidden;
	}

	#mobile{
		visibility: visible;
	}

	#body > #mobile > div.location_w{
		height: 50em;
	}

	#sidebar{
		visibility: hidden;
	}
}

@media (max-device-width: 830px), handheld and (orientation: portrait){
	#sitemap{
		left: 75%;
	}


}