@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

*{	
	border: 0px;
	margin: 0px;
	padding: 0px;
}

a{
	color: #FFF;
	text-decoration: none;
}

body{
	background-color: #1E3747;
	overflow-x: hidden;
}

#container{
	width: 100%;
	margin: 0 0%;
}

.currentPage{
	background-color: #FFF;
	color: #FF0F0F;
}

header{
	margin: 1em 0em 0em 0em;
	position: fixed;
	text-align: center;
	width: inherit;
	z-index: 5;
}

header > nav{
	background-color: #079CFC;
	border-style: solid;
	border-color: white;
	border-width: .1em 0;
	text-align: center;
}

header > nav > ul{
	height: 2em;
	font-family: 'Titillium Web';
	font-weight: 400;
	line-height: 2;
	color: #FFF;
}

header > nav > ul > a > li{
	font-family: 'Titillium Web';
	font-weight: 400;
	line-height: 2;
	background-color: rgba(255,255,255,0);
	display: inline-block;
	padding: 0em .5em;
	vertical-align: top;
}

header > nav > ul > a > li:hover{
	background-color: rgba(255,255,255,.5);
}

.headingWrapper{
	padding: 4em 15% 2em 15%;
	background-color: #EEE;
	color: #444;
	font-family: 'Titillium Web';
	font-weight: 400;
}

.scrollImgContainer{
	position: absolute;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

.scrollImgContainer > img{
	width: 60%;
	height: auto;
	transition: left 1s cubic-bezier(.5,0,.5,1);
}

#home{
	background-color: #EEE;
	min-height: 100vh;
	flex-flow: wrap row;
}

#about{
	background-color: #EEE;
	min-height: 100vh;
	flex-flow: wrap row;
}

#contact{
	background-color: #EEE;
	min-height: 100vh;
	flex-flow: wrap row;
}

#services{
	background-color: #EEE;
	min-height: 100vh;
	flex-flow: wrap row;
}

#servicesNav{
	background-color: #079CFC;
	border-style: solid;
	border-color: white;
	border-width: .1em 0em;
	text-align: center;
	width: inherit;
}

#servicesNav > ul{
	height: 2em;
	line-height: 2;
	color: #EEE;
}

#servicesNav > ul > li > a,
#servicesNav > ul > li{
	background-color: rgba(255,255,255,0);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: 'Titillium Web';
	padding: 0em .5em;
	vertical-align: top;
	text-decoration: none;
}

#servicesNav > ul > li > a:hover,
#servicesNav > ul > li:hover{
	background-color: rgba(255,255,255,.5);
}

#servicesScrollContainer{
	overflow-y: hidden;
	height: 70vh;
	background-color: #606060;
}

.service {
	height: 100%;
	margin: 0 12.5%;
	padding: 0 6%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    %;
	background-color: rgba(0,0,0,.25);
}

.service > h2{
	padding: 5% 0%;
	text-align: center;
	font-family: 'Titillium Web';
	font-weight: 400;
	font-size: 36pt;
	color: #EEE;
}
.service > ul > li{
	font-family: 'Titillium Web';
	font-weight: 400;
	font-size: 24pt;
	color: #EEE;
	margin: 1em 0em;
}

table{
	font-family: 'Droid Serif';
}

table > tbody > tr > th{
	font-family: 'Titillium Web';
}

table > tbody > tr > th:nth-child(1), 
table > tbody > tr > td:nth-child(1){
	padding: 0;
}

table > tbody > tr > td,
table > tbody > tr > th{
	padding: 0 .4em;
}
.contactButton{
	z-index: 2;
	margin: .75em; 
	width: 3em; 
	height: 3em; 
	border: .25em solid; 
	border-radius: 3em; 
	background-color: #FFF;

	transition: width .2s .05s;
}

a:hover .contactButton{
	width: 12em;
	transition: width .2s;
}

.contactText{
	z-index: 0;
	position: relative;
	left: -2.5em;
	top: -3.7em;
	-webkit-transition: left .2s;
	transition: left .2s .08s;
}

.contactText > p{
	opacity: 0;
	-webkit-transition: opacity .2s;
	transition: opacity .2s .01s;
}

a:hover .contactText{
	left: 5em;
	-webkit-transition: left .2s;
	transition: left .2s .05s;
}

a:hover .contactText > p{
	opacity: 1;
	-webkit-transition: opacity .2s;
	transition: opacity .2s .1s;
}

.textContent{
	color: #444;
	padding: 5% 15%;
	flex-flow: wrap row;
}

.textContent > h1{
	text-align: center;
	font-family: 'Titillium Web';
	font-size: 48pt;
	font-weight: 400;
}

.textContent p{
	font-size: 18pt;
	font-family: 'Droid Serif';
}
.colWidth1{
	flex: 1 100%;
}

.colWidth2{
	flex: 1 100%;
}

.colWidth3{
	flex: 1 100%;
}

footer{
}

footer > ul{

}

footer > ul > li{

}

@media all and (min-width: 600px)
{
	.colWidth1{
		flex: 1 49%;
	}
}

@media all and (min-width: 1000px)
{
	.colWidth1{
		flex: 1 auto;
	}
	.colWidth2{
		flex: 2 auto;
	}

	.colWidth3{
		flex: 3 auto;
	}
}